venv/
.venv/
.env
.misc/
__pycache__
.git/
.gitignore
requirements.txt
Dockerfile
docker-compose.yml
*.pyc
Readme.md
README.md
letsencrypt/
postgres-data/
pgadmin-data/
*.DS_Store
*.log
*.sqlite3
*.db
*.sqlite