{% extends "emails/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header_title %}Password Reset{% endblock %}

{% block content %}
<p>Hello {{ first_name }},</p>

<p>We received a request to reset your password. If you didn't make this request, please ignore this email.</p>

<p>Click on button to reset password</p>
<a class="primary-btn" href="{{ reset_link }}">Reset Password</a>

<p>If the above button does not work click on the link below:</p>
<div class="secondary-info">
    {{ reset_link }}
</div>

<div class="warning">
    <strong>Important:</strong> This link will expire in 30 minutes for security reasons.
</div>

<p>To reset your password:</p>
<ol>
    <li>Click on the link</li>
    <li>Create your new password</li>
</ol>

<p>If you need any assistance, please don't hesitate to contact our support team.</p>
{% endblock %}
